
p {
    font-family: 'Lato', 'Roboto', sans-serif;
    text-align: justify;
    word-spacing: -2px;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 2em;
    color: #000;
}

#content {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 25%;
    padding-left: 25%;
    margin: 0 auto;
}

#emoji {
    padding-top: 50px;
    text-align: center;
}

.link {
    padding-top: 5px;
    text-align: left;
}

a {
    text-decoration: none;
    color: #5B86E5;
}

a:visited {
    text-decoration: none;
    color: #5B86E5;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 650px) {
    p {
        word-spacing: -1px;
    }
}
