body {
    background-color: #fafafa;
    font-family: monospace; 
    font-size: 125%; 
}

p {
    color: #222;
}

a {
    text-decoration: none; 
    color: #222; 
    border-bottom: 1px #222 dotted; 
}

.center {
    padding-left: 10px;
}
